# MongoDB connection string
MONGODB_URI="mongodb://localhost:27017/tms"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-hex-32"

# Groq API key for AI insights (optional)
GROQ_API_KEY=""
